{% extends "base.html" %}

{% block content %}

<section style=" padding: 4em; background: url('../static/slide5.jpg'">
	<div class="container">
		<div class="text1">
		<h4>About Us</h4>
	 </div>
	</div>
</section>


<section class="about">
	<div class="container">
	<h1>Pimlico Auto Limited</h1>
	<div class="row">
		<div class="col-md-8">
			<p  class="text-justify">Pimlico Auto Limited is an enterprising firm located at off Kisumu Busia Road in Riat area –Kisumu County. The firm has three directors specialized in various fields.
Since its set up, the firm has had its office and workshop in Kisumu County and all its operational activities are conducted in the Western Kenya Region. </p>
<p>The firm was set up to service the robust economy of the western Kenya Region. The region is home to numerous of local and international companies, Non governmental Organization (NGOs) and private sectors concerns that require a reliable motor vehicles repairs and Maintaince.
</p>
<p>The Auto Repairs market has a lot of competition however almost all enterprises offer only motor service.  Pimlico Auto Limited differentiates itself but not only offering a hassle-free repair service but also providing a fully stocked spare parts shop.</p>
		</div>
		<div class="col-md-4">
		<img src="../static/cxs.jpg" alt="">
		</div>
	</div>
	</div>
</section>


<section class="about1" style=" padding: 5em; text-align: center; background: url('../static/slide5.jpg'">
<div class="container">
<div class="row">
	<div class="col-md-2">
	</div>

	<div class="col-md-8">
	<h2>Clientel</h2>
		<p>Our clientele include some of the leading insurance companies, individuals, financial institutions; private companies and NGOs.We are working towards expanding our clients base through marketing and offering service that are tailor made to our various clients.</p>
	</div>

	<div class="col-md-2">
	</div>
</div>
</div>	
</section>

<section class="team" class="white-bg pt-0">
        <div class="container">
    		<h2>Our Team</h2>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="iq-team grey-bg">
                        <div class="iq-team-img">
                            <img src="../static/musa.jpg" class="img-fluid center-block" alt="#">
                        </div>
                        <div class="iq-team-info text-center">
                            <h6>pimlicoauto2020@gmail.com</h6>
                            <h6>Tel +254720074965</h6>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="staff">
                       <h2>Managing Director<h2>
                       <p>Daniel Okumu</p>
                   </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="iq-team grey-bg">
                        <div class="iq-team-img">
                            <img src="../static/musa.jpg" class="img-fluid center-block" alt="#">
                        </div>
                        <div class="iq-team-info text-center">

                            <h6>pimlicauto2020@gmail.com</6>
                            <h6>Tel +254705366902</h6>

                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                               
                            </ul>
                        </div>
                            
                   </div>
                   <div class="staff">
                   <h2>Finance Manager<h2>
                   <p>Grace Awuor Onyango</p>
                  
                   </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="iq-team grey-bg">
                        <div class="iq-team-img">
                            <img src="../static/musa.jpg" class="img-fluid center-block" alt="#">
                        </div>
                        <div class="iq-team-info text-center">
                            <h6>pimlicoauto8@gmail.com</6>
                            <h6>Tel +254705366902</h6>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                <div class="staff">
                   <h2>Sales and Marketing<h2>
                   <p>Awuor Onyango</p>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="iq-team grey-bg">
                        <div class="iq-team-img">
                            <img src="../static/musa.jpg" class="img-fluid center-block" alt="#">
                        </div>
                        <div class="iq-team-info text-center">
                          <h6>pimlicoauto8@gmail.com</6>
                            <h6>Tel +254705366902</h6>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                <div class="staff">
                   <h2>Operation Manager<h2>
                   <p>Grace Onyango</p>
                </div>
                </div>
            </div>
        </div>
    </section>
<section class="subscribe-us">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
      <h3>ASSURING YOU OF OUR BEST SERVICE ALWAYS</h3>
      </div>

      <div class="col-md-3">
      <a href="contact.html" class="btn-style-eight pull-right">Contact</a>
      </div>
    </div>
  </div>
</section

{% endblock content %}