<!-- Footer -->
<footer class="page-footer font-small" style=" padding-top: 3em; background: url('../static/5.jpg'">
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Pimlico Auto Limited is an enterprising firm located at off Kisumu Busia Road in Riat area –Kisumu County. The firm has three directors specialized in various fields.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color: #ffffff;">
          <a href="#!">Car Wash</a>
        </p>
        <p>
          <a href="#!">Engine Replace</a>
        </p>
        <p>
          <a href="#!">Tire Repair</a>
        </p>
        <p>
          <a href="#!">Car Observation</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Opp Kisumu Airport</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@pimlicoauto.co.Ke</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +254 720 074 965</p>
        <p>
          <i class="fas fa-print mr-3"></i> +254 733 667 674</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">xycoders</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->